<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>暨大學生會推播系統</title>
  <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    #toast-container {
      right: 50%;
      transform: translateX(50%);
    }
  </style>
</head>

<body class="grey lighten-3">
  <header>
    <nav class="navbar-light blue lighten-2">
      <div class="nav-wrapper">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <a href="/" class="brand-logo center">
          <img src="{% static 'logo.png' %}" alt="LOGO" style="height: 60px;">
        </a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          {% if user.is_authenticated  %}
          <li><a href="admin">管理介面</a></li>
          <li><a href="pushMessage">推播訊息</a></li>
          {% endif %}
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% if user.is_authenticated  %}
          <li class="nav-item ">
            <a class="nav-link" href="#">{{ user.username }} 您好</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/admin/logout">登出</a>
          </li>
          {% else %}
          <li><a href="admin/login/?next=/pushMessage">登入</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      {% if user.is_authenticated  %}
      <li><a href="admin">管理介面</a></li>
      <li><a href="pushMessage">推播訊息</a></li>
      <li class="nav-item ">
        <a class="nav-link" href="#">{{ user.username }} 您好</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/admin/logout">登出</a>
      </li>
      {% else %}
      <li><a href="admin/login/?next=/pushMessage">登入</a></li>
      {% endif %}
    </ul>
  </header>
  <main>
    <div class="container">
      <div class="center">
        <h2>LINE 推播訊息</h2>
      </div>
      <form method="post" class="col s12">
        <div class="row">
          {% csrf_token %}
          <div class="input-field col s6">
            <i class="material-icons prefix">article</i>
            <input id="title" type="text" data-length="20" required name="title" value="{{title}}">
            <label for="title">標題（歸檔用）</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="name" type="text" readonly value="{{user.username}}">
            <label for="name">發文者</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <select multiple id="groups" name="groups">
              {% for group in groups%}
              <option value="{{group.id}}">{{group.name}}</option>
              {% endfor %}
            </select>
            <label for="groups">發文群組</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="content" class="materialize-textarea" name="content" required>{{content}}</textarea>
            <label for="content">內容</label>
          </div>
          <div class="center col s12">
            <button class="btn waves-effect waves-light" type="submit">
              推播<i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'materialize/js/materialize.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('input#title').characterCounter();
      $('select').formSelect();
      $('.sidenav').sidenav();
    });
  </script>
  {% if message  %}
  <script>
    M.toast({ html: '{{message}}', classes: 'rounded center' })
  </script>
  {% endif %}
</body>

</html>